# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore terraform access file
terraform.tfvars
**/.terraform/**
**/.terraform.lock.hcl/**
**/.terraform.lock.hcl
**/out.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

# Ignore .git folder
**/.git

# Ignore sshkeys
# **/id_rsa
# **/id_rsa.pub
# **/my_ssh_files.zip
**/ami_user_data.sh
**/ssh_private_key.sh
**/user_data.sh